body {
	margin: 0 auto;
	overflow-y: scroll;
	font-family: arial;
	line-height: 1.6;
	color: #333333;
}

main {
	width: 95%;
	max-width: 600px;
	margin: 0 auto;
}

img {
	display: flex;
	margin: 0 auto;}

.stt {
	position: fixed;
	bottom: 50px;
	right: 400px;
	z-index: 9;
	padding: 5px 5px;
	font-size: 12px;
	text-align: center;
	background-color: yellow;
	color: grey;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	text-decoration: none;
}

.stt:active {
	color: white;
	background-color: black;
}

@media (max-width: 800px) {	
	.stt {
		right: 40px;	
	}
}

@media (max-width: 500px) {	
	.stt {
		right: 10px;	
	}
}